@tailwind base;
@tailwind components;
@tailwind utilities;

details > ul * {
  font-weight: normal !important;
  font-size: var(--sl-text-sm) !important;
}

.starlight-aside {
  border-radius: 0.25rem;
}

.reference p {
  margin: 0 !important;
  display: inline;
}

site-search > button[data-open-modal] {
  width: 100%;
  max-width: 100% !important;
}
