@import './prism/prism.css';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
    line-height: 1.47;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
}

code {
    padding: 2px;
    background: rgba(1, 1, 1, 0.08);
    color: rgba(255, 0, 100, 1);
}

pre > code {
    display: block;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    opacity: 0.25;

    &:before,
    &:after {
        content: '';
        display: block;
        flex-shrink: 1;
        width: 100%;
        height: 1px;
        background: #333;
    }

    &:before {
        margin: 0 10px 0 0;
    }

    &:after {
        margin: 0 0 0 10px;
    }
}

.main-heading {
    margin: 0 0 30px;
}

.title {
    display: block;
    margin: 0 0 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.block {
    margin: 0 0 30px;
    padding: 0 0 20px;
}

.console {
    margin: 0 0 10px;
    padding: 10px 20px;
    background: #333;
    color: #fefefe;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 12px;
    border-radius: 5px;
}

.use-cases {
    &__list {
        margin: 0;
        list-style: none;

        > li {
            &:before {
                content: '✅';
                padding-right: 5px;
                vertical-align: middle;
            }
        }
    }
}
