@import './prism/prism.css';

$black: #333;
$white: #fefefe;
$brand: #c62828;
$btn: #388e3c;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: $black;
    font-size: 14px;
    line-height: 1.47;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
}

code {
    padding: 2px;
    background: rgba($black, 0.1);
    color: $brand;
}

pre > code {
    display: block;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.btn {
    height: 34px;
    margin: 0 10px 0 0;
    padding: 10px 20px;
    background: lighten($btn, 10%);
    color: $white;
    border: 0;
    border-radius: 999px;
    outline: 0;
    transition: all 0.25s ease;
    cursor: pointer;

    $self: &;

    &[disabled],
    &[disabled]:hover {
        cursor: not-allowed;
        background: lighten($black, 35%);
    }

    &:hover {
        background: darken($btn, 1.5%);
    }

    &-toolbar {
        display: flex;
        align-items: center;
        margin: 0 10px 0 0;
        border-radius: 999px;
        overflow: hidden;

        #{$self} {
            margin: 0;
            border-right: 1px solid rgba($white, 0.25);
            border-radius: 0;

            &:last-of-type {
                border: 0;
            }
        }
    }
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    opacity: 0.25;

    &:before,
    &:after {
        content: '';
        display: block;
        flex-shrink: 1;
        width: 100%;
        height: 1px;
        background: $black;
    }

    &:before {
        margin: 0 10px 0 0;
    }

    &:after {
        margin: 0 0 0 10px;
    }
}

.main {
    &-heading {
        margin: 0 0 30px;
    }

    &-title {
        > a {
            display: flex;
            align-items: center;
            color: $brand;
            text-decoration: none;
        }

        img {
            margin-right: 10px;
        }
    }
}

.title {
    display: block;
    margin: 0 0 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.block {
    margin: 0 0 30px;
    padding: 0 0 20px;
}

.example {
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba($black, 0.5);
    overflow: hidden;

    &-block {
        margin: 0 0 35px;
    }
}

.console {
    min-height: 200px;
    margin: 0;
    padding: 10px 20px;
    background: $black;
    color: $white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 12px;

    .fa {
        color: lighten($btn, 15%);
    }
}

.toolbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background: lighten($black, 5%);
    color: darken($white, 35%);

    .concurrency {
        display: flex;
        align-items: center;

        input {
            width: 100px;
            height: 34px;
            padding: 10px 0 10px 10px;
            background: rgba($white, 0.15);
            color: $white;
            border: 0;
            border-radius: 999px 0 0 999px;
            outline: 0;
        }

        .btn {
            margin-left: -10px;
            border-radius: 0 999px 999px 0;
        }
    }
}

.progress {
    position: relative;
    width: 100%;
    height: 5px;
    background: lighten($black, 20%);

    $self: &;

    > #{$self}-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        background: lighten($brand, 10%);
    }
}

.use-cases {
    &__list {
        margin: 0;
        list-style: none;

        > li {
            &:before {
                content: '✅';
                padding-right: 5px;
                vertical-align: middle;
            }
        }
    }
}
