@import './prism/prism.css';

$black: #333;
$white: #fefefe;
$primary: #388e3c;
$pink: rgb(255, 9, 100);

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: $black;
    font-size: 14px;
    line-height: 1.47;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
}

code {
    padding: 2px;
    background: rgba(black, 0.1);
    color: $pink;
}

pre > code {
    display: block;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.hide {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.btn {
    margin: 0 10px 0 0;
    padding: 10px;
    background: lighten($primary, 10%);
    color: $white;
    border: 0;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    opacity: 0.25;

    &:before,
    &:after {
        content: '';
        display: block;
        flex-shrink: 1;
        width: 100%;
        height: 1px;
        background: $black;
    }

    &:before {
        margin: 0 10px 0 0;
    }

    &:after {
        margin: 0 0 0 10px;
    }
}

.main {
    &-heading {
        margin: 0 0 30px;
    }

    &-title {
        display: flex;
        align-items: center;

        > img {
            margin-right: 10px;
        }
    }
}

.title {
    display: block;
    margin: 0 0 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.block {
    margin: 0 0 30px;
    padding: 0 0 20px;
}

.example {
    margin: 0 0 20px;
}

.console {
    margin: 0 0 10px;
    padding: 10px 20px;
    background: $black;
    color: $white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 12px;
    border-radius: 5px;
}

.toolbar {
    display: flex;
    align-items: center;

    .concurrency {
        width: 100px;
        margin: 0 10px 0 0;
        padding: 10px;
        border: 1px solid rgba($black, 0.5);
        border-radius: 5px;
        outline: 0;
    }
}

.use-cases {
    &__list {
        margin: 0;
        list-style: none;

        > li {
            &:before {
                content: '✅';
                padding-right: 5px;
                vertical-align: middle;
            }
        }
    }
}
